.techLogo {
    opacity: 0;
}

@keyframes tech-logo-animation {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.7;
        transform: scale(1);
    }
}

.techLogoLoaded {
    animation-name: tech-logo-animation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}