.xkcd {
    position: absolute;
    bottom: 60px;
    right: 15px;
    z-index: 0;
    width: 300px;
    height: 250px;
}

.link {
    color: #2836aa;
    display: block;
    font-size: xx-large;
}

@media (max-width: 768px) {

    .link {
        font-size: medium;
    }

    .xkcd {
        width: 120px;
        height: 100px;
    }

}